<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nossa Localização</title>
    <!-- Link para o CSS do Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/stylesheet.css">
</head>

<body>

    <!-- Navbar padrão -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../assets/img/logo.png" alt="NR Tec Informatica" height="70">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../index.html">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/quem-somos.html">Quem somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/nossos-servicos.html">Nossos serviços</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/localizacao.html">Localização</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="views/formulario.html">Fale
                            Conosco</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Container principal -->
    <div class="container mt-5">
        <!-- Título da Página -->
        <div class="row">
            <div class="col text-center">
                <h1>Nossa Localização</h1>
                <p class="lead">Encontre-nos facilmente utilizando o mapa abaixo ou obtenha direções detalhadas.</p>
            </div>
        </div>

        <!-- Mapa de Localização -->
        <div class="row mt-4 justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3958.8921810751845!2d-34.91485589013757!3d-7.138465269988407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ace9a865d0e625%3A0xb2e243c82be0e414!2sNR%20Tec%20Inform%C3%A1tica!5e0!3m2!1spt-BR!2sbr!4v1683029330972!5m2!1spt-BR!2sbr"
                            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <p class="text-center mt-3">
                            Rua Severino Xavier da Silva, 13. Alto do Mateus, João Pessoa-PB, 58090-530 <br>
                            Clique <a href="https://maps.app.goo.gl/ww4W7725QRdo1rqW7" target="_blank">aqui</a> para ver
                            no Google Maps.
                        </p>
                    </div>

                    <!-- Script do Bootstrap -->
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

                </div>
            </div>
        </div>


        <footer id="rodape">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-between">
                            <div>
                                <img src="../assets/img/logo.png" alt="NR Tec Informática" height="50">
                                <span>&copy; NR Tec Informática</span>
                            </div>
                            <div>
                                <h4>Links:</h4>
                                <ul>
                                    <li><a href="formulario.html">Fale Conosco</a></li>
                                    <li><a href="index.html#qmsomos">Quem Somos</a></li>
                                    <li><a target="_blank" href="https://g.page/r/CRTk4CvIQ-KyEB0/review">Avalie-nos no
                                            Google!</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4>Siga-nos nas redes sociais:</h4>
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a target="_blank"
                                            href="https://www.facebook.com/people/NR-Tec/100065210250398/"><i
                                                class="fab fa-facebook fa-2x"></i></a></li>
                                    <li class="list-inline-item"><a target="_blank"
                                            href="https://www.tiktok.com/@nrtecmanutencoes"><i
                                                class="fab fa-tiktok fa-2x"></i></a></li>
                                    <li class="list-inline-item"><a target="_blank"
                                            href="https://www.instagram.com/nr.tec/"><i
                                                class="fab fa-instagram fa-2x"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

</body>



</html>